* { box-sizing: border-box; }

html {
	font-family: 'Pangram-ExtraLight', sans-serif; 
}

body { 
	font-family: 'Pangram-ExtraLight', sans-serif; 
	background-image: url("images/pineapple.jpg");
	background-size: 100%;
}

header {
	display: flex;
	align: center;
	justify-content: center;
	padding: 5%;
}

header img {
	max-width: 50%;
	align: center;
}

main {
	
}

.first-scene {
	display: flex;
}

.nav {
	flex: 3;
	align-items: right;
	margin-top: 7%;
}

.logo2 {
	flex: .5;
	align-items: center;
	padding: 2%;
}

.logo2 img {
	max-width: 50%;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li {
	font-family: 'Playfair Display', serif;
	font-weight: normal;
	font-size: 1.15em;
	padding: 0;
	margin: 0 3%;
	display: inline;
}


.second-scene {
	padding: 0 20%;
	align-items: center;
	font-family: 'Pangram-ExtraLight', sans-serif;
}

.scene {
	margin: 0 20%;
	position: relative;
	width: 470px;
	height: 140px;
	perspective: 1000px;
}

button {
	font-family: 'Pangram-ExtraLight', sans-serif;
	background-color: #f1ebb2;
	border-radius: 50%;
	color: black;
}

.carousel {
  width: 100%;
  height: 100%;
  position: absolute;
  transform: translateZ(-769px);
  transform-style: preserve-3d;
  transition: transform 1s;
}

.carousel__cell {
  position: absolute;
  width: 440px;
  height: 150px;
  left: 30px;
  top: 10px;
  border: 1px solid #3F5B44;
  
}

.carousel__cell p {
	text-align: center;
	color: #3F5B44;
	font-family: 'Pangram-ExtraLight', sans-serif;
	font-size: 4em;
	
}

.carousel_title {
	position: absolute;
	top: 30%;
	padding: 12%;
	color: white;
	font-size: 1.5em;
	line-height: 1.5em;
}

.highlight {
	background-color: black;
}

.carousel img {
	max-width: 60%;
}

.carousel-options {
	position: fixed;
	bottom: 0;
	right: 0;
	margin: 3%;
}

label {
	font-family: 'Pangram-Black', sans-serif;
	font-weight: normal;
	font-size: .7em;
	padding: 0;
	display: inline;
	letter-spacing: .2em;
	text-transform: uppercase;
	color: #d5d740;
}

.carousel__cell:nth-child(9n+1) { 
	background: hsla(61, 65%, 55%, .9); 
}
.carousel__cell:nth-child(9n+2) { 
	background: hsla(61, 65%, 55%, .9); 
}
.carousel__cell:nth-child(9n+3) { 
	background: hsla(61, 65%, 55%, .9); 
}
.carousel__cell:nth-child(9n+4) { 
	background: hsla(61, 65%, 55%, .9); 
}
.carousel__cell:nth-child(9n+5) { 
	background: hsla(61, 65%, 55%, .9); 
}
.carousel__cell:nth-child(9n+6) { 
	background: hsla(61, 65%, 55%, .9); 
}
.carousel__cell:nth-child(9n+7) { 
	background: hsla(61, 65%, 55%, .9); 
}
.carousel__cell:nth-child(9n+8) { 
	background: hsla(61, 65%, 55%, .9); 
}
.carousel__cell:nth-child(9n+0) { 
	background: hsla(61, 65%, 55%, .9); 
}

.carousel__cell:nth-child(1) { transform: rotateY(  0deg) translateZ(769px); }
.carousel__cell:nth-child(2) { transform: rotateY( 40deg) translateZ(769px); }
.carousel__cell:nth-child(3) { transform: rotateY( 80deg) translateZ(769px); }
.carousel__cell:nth-child(4) { transform: rotateY(120deg) translateZ(769px); }
.carousel__cell:nth-child(5) { transform: rotateY(160deg) translateZ(769px); }
.carousel__cell:nth-child(6) { transform: rotateY(200deg) translateZ(769px); }
.carousel__cell:nth-child(7) { transform: rotateY(240deg) translateZ(769px); }
.carousel__cell:nth-child(8) { transform: rotateY(280deg) translateZ(769px); }
.carousel__cell:nth-child(9) { transform: rotateY(320deg) translateZ(769px); }








